# Pandas

In [1]:
import pandas as pd

from functools import reduce

from collections import Counter

In [ ]:
df = pd.read_csv('filename.csv', sep=';', index_col=0)
print(df.shape)
df = pd.read_excel('filename.xlsx', sheetname='Sheet1', skiprows=2)


# grouping
df_grouped = df.groupby(['A','B'])['C'].count().reset_index().rename(columns={'C':'count'})

df_grouped = (df
             .groupby(['A','B'])['C']
             .count()
             .reset_index(name='count'))

df_grouped = df.groupby(['A','B'], as_index=False)['C'].max().rename(columns={'C':'count'})
...        = df.groupby('A')['B'].nunique() # group by A and count all the DISTINCT B values


# pivot table
df_pivot = pd.pivot_table(df, values='count', index='id', columns=['game name'], 
                          aggfunc=np.sum, fill_value=0).add_suffix('_count')


# concatenate
df_concat = pd.concat([df1,df2], axis=0, sort=False, ignore_index=True)


# merging
df_merged = pd.merge(df1, df2, on='A', how={'left','right','outer','inner'})

dfs = [df1,df2,df3,df4]
...       = reduce(lambda left,right: pd.merge(left, right, on='A', how='inner'), dfs)


# slicing dataframe
df = df[(df['A']=='ciao') & (df['B'].isin([1,2,3,4]))]


# sorting values
df.sort_values(by=['A','B'], ascending=False, inplace=True, ignore_index=True)


# counter
count = Counter(df['A'].to_list()).most_common() # the most_common() module sorts values


# to datetime
df['date'] = pd.to_datetime(df['date'])
df['year-month'] = [d.strftime('%Y-%m') for d in df['date']] # to get 2019-02


# apply
df = df.apply(lambda x: x**2, axis=0) # apply a function along an axis of the DataFrame
df['A'] = df['A'].apply(lambda x: x+2)


# fill NaN
df.fillna(0, inplace=True)
df[~df['A'].isna()] # get all the values where 'A' is NOT NaN
df.isnull().values.any() # checks if the df has NaN values

# where and mask
df.where(df[cols]>10, 0) # where df[cols] values are < 10 replace value with 0
df.mask(df[cols]>10, 0) # where df[cols] values are > 10 replace value with 0

In [2]:
df = pd.DataFrame({'A':[1,2,3,4], 'B':[1,1,1,1]})
df.where(df['A']>2, 0)

   A  B
0  0  0
1  0  0
2  3  1
3  4  1

In [3]:
df.mask(df['A']>2, 0)

   A  B
0  1  1
1  2  1
2  0  0
3  0  0

# Pickle

In [3]:
import pickle

In [ ]:
pickle.dump(df, open('results.p', 'wb'))

df = pickle.load(open('result.p', 'rb'))